<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config"
               status="warn"
               packages="com.newrelic.logging.log4j2">
    <Appenders>
        <File name="logFile" fileName="application.log.json" append="true">
            <NewRelicLayout/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="logFile"/>
        </Root>
    </Loggers>
</Configuration>